body {
    background-color: rgb(196, 174, 152);
    text-align: center;
    margin: 0 auto;
    color: rgb(10, 46, 19);
}

#container {
    width: 261px;
    background-color: rgb(6, 100, 100);
    padding: 2%;
    margin: 5% auto;
    border-radius: 6px;
}

#answerFeild {
    text-align: right;
    width: 250px;
    height: 60px;
    font-size: 30px;
    border-radius: 6px;
    margin: 3px;
}

#firstButt {
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    margin: 3px;
}

input[type=button] {
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: rgb(151, 81, 32);
}

input[type=button]:hover {
    background-color: rgb(161, 236, 207);
}